:root {
    --field-size: 50px;
}

/* Allgemeines */

html, body {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    margin: 0;
    padding: 0;
    background: black;
}

#field {
    display: grid;
    grid-template-columns: repeat(9, var(--field-size));
    grid-template-rows: repeat(4, var(--field-size));
    grid-gap: 0;
    background-color: blue;
}

/* Tetris-Formen */

.square {
    width: calc(2 * var(--field-size));
    height: calc(2 * var(--field-size));
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    background-color: red;
}

.stick {
    width: var(--field-size);
    height: calc(4 * var(--field-size));
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    background-color: orange;
}

.t-form {
    width: calc(3 * var(--field-size));
    height: calc(2 * var(--field-size));
    clip-path: polygon(0% 50%, 33% 50%, 33% 0%, 67% 0%, 67% 50%, 100% 50%, 100% 100%, 0% 100%);
    background-color: yellow;
}

.z-form {
    width: calc(3 * var(--field-size));
    height: calc(2 * var(--field-size));
    clip-path: polygon(0% 0%, 67% 0%, 67% 50%, 100% 50%, 100% 100%, 33% 100%, 33% 50%, 0% 50%);
    background-color: lime;
}

.l-form {
    width: calc(3 * var(--field-size));
    height: calc(2 * var(--field-size));
    clip-path: polygon(0% 50%, 67% 50%, 67% 0%, 100% 0%, 100% 100%, 0% 100%);
    background-color: darkorchid;
}

/* Tetris-Steine */

#st1 {
    grid-column: 1;
    grid-row: 1 / 4;
}

#t1 {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
}

#z1 {
    grid-column: 4 / 6;
    grid-row: 3 / 4;
}

#sq1 {
    grid-column: 6 / 7;
    grid-row: 2 / 3;
}

#l1 {
    grid-column: 7 / 9;
    grid-row: 3 / 4;
}