/*
Frage 1: Gesamtseitenlayout Grid bedeutet dass Body grid sein kann.
Frage 2: Wie viele H2, H3 usw. : Grundsätzlich eine H1 als Headerbild. Anschließend dürfen H2 in jeweils die Sektionen unterteilt werden. usw


*/

@import url("https://api.fonts.coollabs.io/css2?family=Roboto:wght@400;500;700;900&display=swap");

:root {
  /* Header Font-sizes */
  --h1_font_size: 3rem;
  --h2_font_size: 1.75rem;
  --h3_font_size: 1.5rem;
  --h4_font_size: 1.25rem;
  --h5_font_size: 1rem;

  /* Colors */
  --color-primary: #ff9900;
  --color-secondary: #00ccff;
  --color-tertary: #99ff00;

  --color_text-dark: #333333;
  --color_text-gray: #aaaaaa;

  --color-white: #ffffff;
  --color-dark: #464646;
  --color-darken: #2b2b2b;

  --color-blutrubin: #ff3333;

  /* Fonts */
  --font-family: "Roboto", sans-serif;

  /* Font-Weights */
  --font-weight-thin: 400;
  --font-weight-regular: 500;
  --font-weight-bold: 700;
  --font-weight-bolder: 900;

  /* Font-Sizes */
  --font-size-small: 1rem;
  --font-size-regular: 1.5rem;
  --font-size-big: 2rem;

  /* Display-Types */
  --grid-gutter-width: 16px;

  /* Defined BREAKPOINTS
    xs: <576px
    sm: >= 576px
    md: >= 768px
    lg: >= 992px
    xl >= 1200px
    xxl >= 1400px
  */
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xxl: 1400px;
}

/* General Settings */
* {
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

body {
  min-height: 100vh;
}

h1 {
  font-size: var(--h1_font_size);
  line-height: var(--h1_font_size);
  font-weight: var(--weight-bolder);
  grid-column: 1 / 12;
  text-transform: uppercase;
}

h2 {
  font-size: var(--h2_font_size);
  line-height: var(--h2_font_size);
  font-weight: var(--weight-bold);
}

footer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: var(--grid-gutter-width) / 2;
  grid-auto-rows: auto;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

/* Debugging */

.grid-debug {
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: var(--grid-gutter-width);
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 5vh;
  opacity: 50%;
}

.grid-debug::before {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  background: lime;
}

.grid-debug-item {
  background: hotpink;
  text-align: center;
  z-index: 2;
}

/* Colored Settings */

.bg-primary {
  background: var(--color-primary);
}

.bg-secondary {
  background: var(--color-secondary);
}

.bg-darkgrey {
  background: var(--color-dark);
}

.bg-darken {
  background: var(--color-darken);
}

.bg-light {
  background: var(--color-white);
}

.bg-blutrubin {
  background: var(--color-blutrubin);
}

.bg-tertary {
  background: var(--color-tertary);
}

.text-primary {
  color: var(--color-primary);
}

.text-light {
  color: var(--color-white);
}

.text-dark {
  color: var(--color_text-dark);
}

.text-lightgray {
  color: var(--color_text-gray);
}

/* Display Settings */
.ds-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: var(--grid-gutter-width);
  grid-auto-rows: min-content;
}

.ds-flex {
  display: flex;
}

.ds-none {
  display: none;
}

.flex-flow-column {
  flex-flow: column nowrap;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.align-items-center {
  align-items: center;
}

.col-12 {
  grid-column: 1 / -1;
}

/* Bullets */

.bullet-unstyled {
  list-style: none;
}

/* Distances */

.p-0 {
  padding: 0;
}

/* Fonts */

.text-uppercase {
  text-transform: uppercase;
}

.text-decoration-none {
  text-decoration: none;
}

/* Icons */

.icon-mail {
  background: url(./assets/icons/mail.svg);
  background-repeat: no-repeat;
  width: 29px;
  height: 22px;
  background-size: 29px 22px;
  cursor: pointer;
}

.icon-hamburger {
  display: block;
  background: url(./assets/icons/hamburger.svg);
  background-repeat: no-repeat;
  width: 29px;
  height: 22px;
  background-size: 29px 22px;
  cursor: pointer;
}

/* Specifics */

nav {
  --nav-height: 5.625rem;
  height: var(--nav-height);
  position: relative;
}

nav:before {
  content: "";
  width: 90%;
  height: 90%;
  position: absolute;
  top: 0;
  left: auto;
  border-bottom: 1px var(--color-white) solid;
}

nav img {
  max-width: 50%;
  height: 3.75rem;
}

nav ul li {
  margin-inline: 2rem;
  font-size: var(--font-size-big);
}

nav ul li i {
  display: block;
}

.menu-slide {
  position: absolute;
  top: var(--nav-height);
  left: -100%;
  width: 100vw;
  height: calc(100vh - var(--nav-height));
  transition: left 0.5s ease-in;
}

.menu-slide.show {
  left: 0;
}

.menu-slide.show ul {
  height: 50%;
  text-transform: uppercase;
}

header {
  --grid-columns: 2 / 12;

  background: url(./assets/background_header.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-block: 15vh;
  background-position: center center;
  grid-template-rows: repeat(3, auto);
}

header h1 {
  font-size: var(--h1_font_size);
  font-weight: var(--font-weight-bolder);
  grid-column: var(--grid-columns);
  text-shadow: 1px 1px 8px var(--color-darken);
  grid-row: 1 / 2;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

header h2 {
  font-size: var(--h2_font_size);
  font-weight: var(--font-weight-bold);
  grid-column: var(--grid-columns);
  grid-row: 2 / 3;
  line-height: 1.5;
  text-shadow: 1px 1px 8px var(--color-darken);
}

header button {
  border-radius: 2rem;
  grid-column: var(--grid-columns);
  grid-row: 3 / 4;
  border: none;
  margin-top: 100px;
  padding-block: 1rem;
  font-size: 1rem;
  font-weight: var(--font-weight-bolder);
  text-transform: uppercase;
}

/* Bigger than LG */
@media (min-width: var(--breakpoint-lg)) {
  :root {
    --grid-gutter-width: 32px;

    --h1_font_size: 5rem;
    --h2_font_size: 3.125rem;
    --h3_font_size: 2.5rem;
    --h4_font_size: 1.875rem;
    --h5_font_size: 1.25rem;
  }

  nav ul li {
    font-size: var(--font-size-regular);
  }

  header {
    --grid-columns: 3 / 11;
    padding-block: 20vh;
  }

  header button {
    grid-column: 5 / 9;
  }

  .ds-lg-none {
    display: none;
  }

  .ds-lg-flex {
    display: flex;
  }

  .ds-lg-block {
    display: block;
  }

  .menu-slide {
    display: none;
  }
}
