/*
Frage 1: Gesamtseitenlayout Grid bedeutet dass Body grid sein kann.


*/


@import url("https://api.fonts.coollabs.io/css2?family=Roboto&display=swap");

:root {
  /* Header Font-sizes */
  --h1_font_size: 5rem;
  --h2_font_size: 3.125rem;
  --h3_font_size: 2.5rem;
  --h4_font_size: 1.875rem;
  --h5_font_size: 1.25rem;

  /* Colors */
  --color_primary: #ff9900;
  --color_secondary: #00ccff;
  --color_tertary: #99ff00;

  --color_text-dark: #333333;
  --color_text-light: #ffffff;
  --color_text-gray: #aaaaaa;

  --color-dark: #464646;
  --color-darken: #2b2b2b;

  /* Fonts */
  --font-family: "Roboto", sans-serif;

  /* Font-Weights */
  --font-weight-thin: 400;
  --font-weight-regular: 500;
  --font-weight-bold: 700;

  /* Display-Types */
  --grid-gutter-width: 16px;

}

/* General Settings */
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

/* Colored Settings */

.bg-primary { background: var(--color_primary); }

.bg-secondary { background: var(--color_secondary); }

.bg-darken { background: var(--color-darken); }

.text-light { color: var(--color_text-light); }

.text-dark { color: var(--color_text-dark); }

/* Display Settings */
.ds-grid { display: grid;  }

.ds-flex { display: flex; }

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.align-items-center {
  align-items: center;
}

.grid-template-cols-12 {
  grid-template-columns: repeat(12, 1fr);
  grid-gap: var(--grid-gutter-width);
}

.col-12 {
  grid-column: 1 / -1;
}

.grid-debug {
  grid-template-columns: repeat(12, 1fr);
  grid-gap: var(--grid-gutter-width);
  position: absolute;
  top: 0;
  left: 0;
  width:100vw;
  height: 5vh;
}

nav {
  height: 5.625rem;
}

nav img {
  max-width: 50%;
}

nav ul,
nav .icon-mail {
  display: none;
}

.hamburger {
  display: block;
  background: url(./assets/icons/hamburger.svg);
  background-repeat: no-repeat;
  width: 29px;
  height: 22px;
  background-size: 29px 22px;
  cursor: pointer;
}