.container {
    display: grid;
    grid-gap: 10px;
    /* optional: Abstand zwischen den Elementen */
    justify-content: center;
    /* zentriert die Elemente horizontal */
    align-content: center;
    /* zentriert die Elemente vertikal */
    height: 100vh;
    /* optional: Feste Höhe für das Grid */
    grid-auto-flow: row;
    /* Elemente werden untereinander angeordnet */
}

.element {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}